cluster:
     node_count = 2
     name = ocfs2cluster

node:
     number = 1
     cluster = ocfs2cluster
     ip_port = 7788
     ip_address = 192.168.56.13
     name = drbd1

node:
     number = 2
     cluster = ocfs2cluster
     ip_port = 7788
     ip_address = 192.168.56.14
     name = drbd2