resource storage {
    protocol C;
    net {
        allow-two-primaries;
        after-sb-0pri discard-zero-changes;
        after-sb-1pri discard-secondary;
        after-sb-2pri disconnect;
    }
    startup { become-primary-on both; }

    on wp3 {
        meta-disk internal;
        device /dev/drbd0;
        disk /dev/sdb;
        address 192.168.56.13:7788;
    }
    on wp4 {
        meta-disk internal;
        device /dev/drbd0;
        disk /dev/sdb;
        address 192.168.56.14:7788;
}
}
