NM_CONTROLLED=no
BOOTPROTO=none
ONBOOT=yes
NAME=eth1
{% if inventory_hostname == 'mysql1' %}
IPADDR=192.168.56.11
{% elif inventory_hostname == 'mysql2' %}
IPADDR=192.168.56.12
{% endif %} 
NETMASK=255.255.255.0
DEVICE=eth1
PEERDNS=no