#!/bin/bash

DB_HOST="localhost"
DB_USER="root"
DB_PASSWORD="Otus2023!"
DB_NAME="wordpress"
BACKUP_PATH="/var/borg/backup/"

backup_filename="${DB_NAME}_backup_$(date +%Y%m%d_%H%M%S).sql"

mkdir -p "${BACKUP_PATH}"
mysqldump --user=${DB_USER} --password=${DB_PASSWORD} --host=${DB_HOST} ${DB_NAME} > ${BACKUP_PATH}/${backup_filename}"
